#set( $entity = $item )
package $package;

import sk.tuke.magsa.framework.CRUDDao;
import ${generator.formatQualifiedName($entity.name, "entity_class")};
import java.util.List;
#set ($int = "Integer")
public interface $name extends CRUDDao<${generator.formatName($entity.name, "entity_class")}> {
void create($generator.toUCIdent($entity.name) entity);
void edit($generator.toUCIdent($entity.name) entity);
void remove($generator.toUCIdent($entity.name) entity);
$entity.name find($int id);
public List<$generator.toUCIdent($entity.name)> selectAll();
}
